/*Configuración de OhSnap*/
#ohsnap {
  position: fixed;
  bottom: 5px;
  right: 5px;
  margin-left: 5px;
  z-index: 99;
}

.alert {
  text-align: right;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  float: right;
  clear: right;
}


.alert-red {
  color: white;
  background-color: #DA4453;
}

.alert-green {
  color: white;
  background-color: #37BC9B;
}

.alert-blue {
  color: white;
  background-color: #4A89DC;
}

.alert-yellow {
  color: white;
  background-color: #F6BB42;
}

.alert-orange {
  color: white;
  background-color: #E9573F;
}

/*Configuracion de imagen  bg de login*/
.oscurecer-imagen {
  width: 100%;
  filter: brightness(0.5);
}